@charset "UTF-8";

body{
    background-color: rgb(72, 57, 102);
}

h1{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color:rgb(247, 244, 219);
    border-radius: 2%;
    }


