@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imgs/deserto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#cabecalho{
    display: flex;
    justify-content: center;
    margin-top: 26px;
    font-size: 41px;
    font-family: "Bangers", serif;
}

.pl1{
    width: 50px;
    height: 50px;
}

.pl2{
    width: 70px;
    height: 70px;
}

.pl3{
    width: 100px;
    height: 100px;
}

.ladoA{
    transform:scaleX(1);
}

.ladoB{
    transform:scaleX(-1);
}

.painel{
    position: absolute;
    flex-wrap: wrap;
    flex-flow: row;
    width: 230px;
    padding:10px;
    left:0px;
    bottom:0px;
    border-top: solid 2px #000000;
    background-color: #fff;
    opacity: 0.6;
}

.vidas{
    float:left;
}

.cronometro{
    float: left;
    font-size: 20PX;
    font-weight: bold;                                      
}