@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
    margin: 0;
    padding: 0; 
}

header {
    background-color: rgb(0, 0, 0); 
    padding: 30px; 
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex; 
    list-style: none; 
    justify-content: center; 
    align-items: center;
   
}

h1{
    color:rgb(255, 255, 255);
    font-family: "Public Sans", serif;
}

h3{
  font-size: 2em;
}

.bloco1 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    gap: 20px; 
    padding: 50px;  
    padding-top: 70px;
  
  }
  
  .texto1, .texto2 {
    flex: none; 
    font-size: 1.2em;
    font-family: "Public Sans", serif;
    text-align: center;
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .imagem1 { 
    text-align: center; 
  }
  
  .imagem1 img {
    max-width: 70%; 
    max-height: 500px;
    height: auto; 
    border-radius: 5%;
    box-shadow: 5px 5px 4px black;
  }

  /*.bloco2*/


  
 footer{
  background-color: #000000;
  color: rgb(255, 255, 255);
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  text-align: center; 
  padding: 12px 0; 
  /*z-index: 1000; /* Garante que fique acima de outros elementos */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
 }



  

