@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{ 
    margin: 0;
    padding: 0; 
}

body{
  background-color:  rgb(34, 28, 59);
}


header {
    background-color:  rgb(34, 28, 59);
    padding: 15px; 
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex; 
    list-style: none; 
    justify-content: space-between; 
    align-items: center;
}

.search-input{
  border-radius: 13px;
  outline: none;
  padding: 6px;
  width:25%;
}


h1{
    color:rgb(255, 255, 255);
    font-family: "Public Sans", serif;
    margin-left: 15%;
}

.inicial{
  background-image: url(img/espaco.jpg);
  height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h2{
  color:aliceblue;
  font-family: "Public Sans", serif;
  font-size: 3em;
}

.botao{
  background-color: rgb(34, 28, 59) ;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  color:aliceblue;
  font-family: "Public Sans", serif;
  
}

p{
  color: aliceblue;
  font-family: "Public Sans", serif;
  width: 70%;
  font-size: 110%;
}

.bloco1{
  padding: 100px;
  padding-top: 50px;
  display: flex;
  padding-bottom: 25px;
}

.bloco1 img{
  width: 500px;
  height: 300px;
  border-radius: 5%;
}

.texto{
  display: flex;
  flex-direction: column;
}

.bloco2 {
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: rgb(39, 19, 51);
}

footer{
  background-color: black;
  font-family:"Public Sans", serif;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}



  

