*{ 
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgb(37, 36, 39); 
    padding: 15px 0; 
    box-shadow: 2px 2px 5px rgb(136, 133, 136);
}

nav ul {
    display: flex; 
    list-style: none; 
    justify-content: center; 
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: rgb(247, 242, 235); 
    text-decoration: none; 
    font-size: 1rem;
    padding: 5px 10px; 
    transition: color 0.3s ease; 
}


.aqui {
    color: rgb(137, 133, 138); 
}

nav a:hover {
    color: rgb(137, 133, 138); 
}

